---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Employee from "@components/Employee.astro";

let response = await fetch("http://backend:8000/employees");
const employees = await response.json();
response = await fetch("http://backend:8000/administratives");
const administratives = await response.json();
---

<Layout>
    <Header redirect = "/" action = "Logout">
        <h2 id = "page">Dashboard</h2>
    </Header>
    <main>
        <form action = "/search" method = "POST">
            <input type = "text" name = "search" placeholder = "Search for an employee..." required>
            <button type = "submit"><img src = "/search.png" alt = "search"></button>
        </form>
        <h1>All Employees</h1>
        <div>{
            employees.map(info => (
                <Employee
                    id = {info.id}
                    first_name = {info.first_name}
                    last_name = {info.last_name}
                    current_status = {info.current_status}
                    rank = {info.rank}/>
            ))
        }</div>
        <h1>Other Administratives</h1>
        <div>{
            administratives.map(info => (
                <Employee
                    id = {info.id}
                    first_name = {info.first_name}
                    last_name = {info.last_name}
                    current_status = {info.current_status}
                    rank = {info.rank}/>
            ))
        }</div>
    </main>
</Layout>

<style lang = "sass">
    #page
        margin: 0
        color: rgba(37, 42, 63, 0.65)

    h1
        margin: 20px
        color: rgba(37, 42, 63, 0.65)
        font-family: "Titillium Web", sans-serif

    main
        padding: 10px 15px

    form
        gap: 10px
        width: 100%
        display: flex
        margin-top: 20px
        justify-content: center

    input
        width: 100%
        font-size: 15px
        border-width: 2px
        padding-left: 25px
        border-radius: 90px
        outline-color: rgb(37, 42, 63)
        font-family: "Titillium Web", sans-serif

    button
        border: none
        cursor: pointer
        background-color: rgba(255, 255, 255, 0)
</style>