---
import "@fontsource/titillium-web";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout>
    <Header action="logout">
        <h2>Dashboard</h2>
    </Header>
    <main>
        <form action="/search" method="POST">
            <input
                type="text"
                name="search"
                placeholder="Search for an employee..."
                required
            />
            <button type="submit"><img src="/search.png" alt="search" /></button
            >
        </form>
        <h1 id="employees">All Employees</h1>
        <h1 id="administrators">Administrators</h1>
    </main>
</Layout>

<script>
    import keycloak from "@lib/keycloak";

    $(() => {
        function request(route) {
            fetch(`http://backend:8000/${route}/`, {
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${keycloak.token}`,
                },
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    }
                })
                .then((data) => {
                    data.forEach((info) => {
                        data.forEach((info) => {
                            $(`#${route}`).after(`
                                <div class="employee" id="${info.id}" style="display: flex; cursor: pointer; align-items: center; justify-content: space-between;">
                                    <div class="picture" style="gap: 15px; display: flex; align-items: center;">
                                        <img src="/profile_small.png" alt="profile picture" />
                                        <h1 style="margin: 20px; color: rgba(37, 42, 63, 0.65); font-family: 'Titillium Web', sans-serif;">
                                            ${info.first_name} ${info.last_name}
                                        </h1>
                                        <h2 style="font-family: 'Titillium Web', sans-serif; margin: 0; color: ${info.current_status === "active" ? "rgb(127, 255, 212)" : info.current_status === "fired" ? "red" : info.current_status === "retired" ? "yellow" : "rgba(37, 42, 63, 0.65)"};">
                                            ${info.current_status}
                                        </h2>
                                        <h2 class="rank" style="font-family: 'Titillium Web', sans-serif; margin: 0; color: rgba(37, 42, 63, 0.65);">
                                            ${info.rank}
                                        </h2>
                                    </div>
                                    <img src="/open.png" alt="open" />
                                </div>
                            `);
                        });
                    });
                });
        }

        keycloak
            .init({ onLoad: "login-required" })
            .then(function (authenticated) {
                if (authenticated) {
                    request("employees");
                    request("administrators");
                    1;
                    $("body").css("display", "flex");
                }
            });

        $("#logout").on("click", function () {
            keycloak.logout({ redirectUri: "/" });
        });

        $(".employee").on("click", function () {
            window.location.href = `employee/${$(this).attr("id")}`;
        });
    });
</script>

<style>
    main h1,
    main h2 {
        color: rgba(37, 42, 63, 0.65);
        font-family: "Titillium Web", sans-serif;
    }

    main h1 {
        margin: 20px;
    }

    main h2 {
        margin: 0;
    }

    main {
        padding: 10px 15px;
    }

    main form {
        gap: 10px;
        width: 100%;
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }

    main form input {
        width: 100%;
        font-size: 15px;
        border-width: 2px;
        padding-left: 25px;
        border-radius: 90px;
        outline-color: rgb(37, 42, 63);
        font-family: "Titillium Web", sans-serif;
    }

    main form button {
        border: none;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
    }
</style>
