---
import "@fontsource/titillium-web";

const {
    id,
    first_name,
    last_name,
    current_status,
    rank
} = Astro.props
---

<div class = "employee" id = {id}>
    <div class = "picture">
        <img src = "/profile_small.png" alt = "profile picture">
        <h1>{first_name} {last_name}</h1>
        <h2 class = {current_status}>{current_status}</h2>
        <h2 class = "rank">{rank}</h2>
    </div>
    <img src = "/open.png" alt = "open" />
</div>

<style lang = "sass">
    .employee
        display: flex
        cursor: pointer
        align-items: center
        justify-content: space-between

    .picture
        gap: 15px
        display: flex
        align-items: center

    h1, h2
        font-family: "Titillium Web", sans-serif

    .active
        color: rgb(127, 255, 212)
    .fired
        color: red
    .retired
        color: yellow

    .rank
        color: rgba(37, 42, 63, 0.65)
</style>

<script>
    $(() => {
        $(".employee").on("click", function() {
            window.location.href = `employee/${$(this).attr("id")}`;
        });
    });
</script>