---
import "@fontsource/titillium-web";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";

const { id } = Astro.params;
---

<Layout>
    <Header redirect="/search" action="Go back">
        <h2>Employee Info</h2>
    </Header>
    <main>
        <div id={id} class="employee">
            <img src="/profile_large.png" alt="profile picture" />
            <div>
                <h2>Chronology of service statuses</h2>
                <table id="events" border="1"></table>
            </div>
        </div>
        <img src="/bin.png" alt="bin" />
    </main>
</Layout>

<script>
    import keycloak from "@lib/keycloak";

    $(() => {
        keycloak
            .init({ onLoad: "login-required" })
            .then(function (authenticated) {
                if (authenticated) {
                    fetch(
                        `http://backend:8000/employees/${$(".employee").attr("id")}`,
                        {
                            headers: {
                                "Content-Type": "application/json",
                                Authorization: `Bearer ${keycloak.token}`,
                            },
                        },
                    )
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                        })
                        .then((data) => {
                            console.log(data);
                            $(".employee").html(`
                                <h2>${data.first_name} ${data.last_name}</h2>
                                <h2>Birthday: ${data.birthdate}</h2>
                                <h2>Email: ${data.email}</h2>
                                <h2>Mobile phone: ${data.phone}</h2>
                                <h2>Military rank: ${data.rank}</h2>
                                <h2>Current assignment: ${data.assignment}</h2>
                                <h2>Current status: ${data.current_status}</h2>
                            `);
                        });

                    fetch(
                        `http://backend:8000/events/${$(".employee").attr("id")}`,
                        {
                            headers: {
                                "Content-Type": "application/json",
                                Authorization: `Bearer ${keycloak.token}`,
                            },
                        },
                    )
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                        })
                        .then((data) => {
                            console.log(data);
                            data.map((info) =>
                                $("#events").html(`
                                    <tr>
                                        <td><input type="text" value=${info.date} /></td>
                                        <td><input type="text" value=${info.description} /></td>
                                        <td id="delete"><img src="/delete.png" alt="delete" /></td>
                                    </tr>
                                `),
                            );
                        });

                    $("body").css("display", "flex");
                }
            });
    });
</script>

<style lang="sass">
    h2
        margin: 0
        color: rgba(37, 42, 63, 0.65)
        font-family: "Titillium Web", sans-serif

    main
        display: flex
        padding: 10px 15px
        align-items: flex-start
        justify-content: space-between

        > div
            flex: 1
            display: flex
            align-items: flex-start

            > img
                width: 25%

            > div
                flex: 1
                margin: 0 15px
                overflow-y: auto

                > h2
                    margin: 15px 0

                table
                    width: 100%

                    td
                        padding: 0 2.5px

        > img
            cursor: pointer

    #delete
        border: none

    input
        border: none
        font-family: "Titillium Web", sans-serif
</style>
