---
import "@fontsource/titillium-web";
import Layout from "@layouts/Layout.astro";
import Event from "@components/Event.astro";
import Header from "@components/Header.astro";

const {
    id
} = Astro.params

let response = await fetch(`http://backend:8000/employees/${id}`);
const employee = await response.json();
response = await fetch(`http://backend:8000/events/${id}`);
const events = await response.json();
---

<Layout>
    <Header redirect = "/search" action = "Go back">
        <h2 id = "page">Employee Info</h2>
    </Header>
    <main>
        <div id = "employee">
            <img id = "profile" src = "/profile_large.png" alt = "profile picture">
            <div id = "a">
                <h2 class = "info">{employee.first_name} {employee.last_name}</h2>
                <h2 class = "info">Birthday: {employee.birthdate}</h>
                <h2 class = "info">Email: {employee.email}</h2>
                <h2 class = "info">Mobile phone: {employee.phone}</h2>
                <h2 class = "info">Military rank: {employee.rank}</h2>
                <h2 class = "info">Current assignment: {employee.assignment}</h2>
                <h2 class = "info">Current status: {employee.current_status}</h2>
                <h2 id = "chronology">Chronology of service statuses</h2>
                <table border = "1">{
                    events.map(event => (
                        <Event
                            date = {event.date}
                            description = {event.description}/>
                    ))}
                </table>
            </div>
        </div>
        <img id = "bin" src = "/bin.png" alt = "bin">
    </main>
</Layout>

<style lang = "sass">
    #page
        margin: 0
        color: rgba(37, 42, 63, 0.65)
        font-family: "Titillium Web", sans-serif

    #chronology
        margin: 15px 0
        color: rgba(37, 42, 63, 0.65)
        font-family: "Titillium Web", sans-serif

    main
        display: flex
        padding: 10px 15px
        align-items: flex-start
        justify-content: space-between

    #employee
        flex: 1
        display: flex
        align-items: flex-start

    #a
        flex: 1
        margin: 0 15px
        overflow-y: auto

    #profile
        width: 25%

    .info
        margin: 15px 0
        font-family: "Titillium Web", sans-serif

    table
        width: 100%

    #bin
        cursor: pointer
</style>